@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&");

* {
  box-sizing: border-box;
  background-color: hsla(207, 100%, 75%, 1);
  font-family: "Quicksand", sans-serif;
}

h1 {
  background-color: hsla(213, 100%, 69%, 1);
  border-radius: 15px;
  padding: 10px;
  box-shadow: 2px 2px 2px black;
}

div.heading {
  display: flex;
  justify-content: center;
}

section div, p, h2, span, img {
  background-color: hsla(213, 100%, 69%, 1);
}



